/* Login page css */
.main-login {
    padding: 2.8rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
    height: 100dvh;
}


/* //-------------------// */

@media screen and (min-width:768px) {
    .main-login {
        flex-direction: row;
    }
}