/* //---------Dashbord container----------// */
.dashbord-container {
    display: flex;
    gap: 0;
}

.section1 {
    width: fit-content;

}

.section2 {
    width: 70%;
}


.shadow {
    padding: 1rem;
    border-radius: 0.5rem;
    /* Glass bg */
    /* background: rgba(255, 255, 255, 0.61);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); */
    /* Glass bg */


    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(50px);
}



/* //---------End Dashbord container----------// */


/* //---------// */


@media screen and (max-width: 1224px) {

    .section1 {
        width: 100%;
    }

    .section2 {
        width: 100%;
    }

    .dashbord-container {
        flex-direction: column;
        gap: 2em;
        flex-wrap: nowrap;
    }
}