/* //---------Dashbord container----------// */
.dashbord-container {
    display: flex;
    gap: 2rem;
}

.dashbord-item {
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%);
    /* Glass bg */
    background: rgba(255, 255, 255, 0.61);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    /* Glass bg */

}

.section1 {
    flex: 1 1;
}

.section2 {
    flex: 3 1;
}

/* //---------End Dashbord container----------// */


/* //---------// */


@media screen and (max-width: 900px) {
    .dashbord-container {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}