@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* Scrollbar */


/* Style for the scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Style for the scrollbar track */
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 4px;
}

/* Style for the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

/* Style for the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Style for the scrollbar corner */
::-webkit-scrollbar-corner {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: inherit;
}

/* body */


#root {
    margin: 0;
    min-height: 100vh;
    color: #000 !important;
    background-image: url("../assets/svg/bg1.svg");

    /* background-image: url("../assets/bg1.webp"); */
    background-repeat: no-repeat;
    background-size: cover;
    /* background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(180, 228, 249) 90%); */
}

/* Layout CSS */
.container {
    margin: 0 auto;
    padding: 0 1em;
}




/* custom card css  */
.card_title {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    font-size: x-large;
    margin-top: 1.5em;
    text-align: center;

}

.custom_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    min-width: 100%;
    gap: 35px;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.inputBox {
    position: relative;
}

.inputBox input,
.inputBox select {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: #000;
    font-size: 1em;
    background: transparent;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transition: 0.1s;
    border-bottom-left-radius: 8px;
}

.inputBox span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-13px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 10px;
    color: #000;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 8px;
}

.inputBox input:valid~span,
.inputBox select:valid~span,
.inputBox select:focus~span,
.inputBox input:focus~span {
    transform: translateX(113px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #000;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
}


.inputBox input:valid,
.inputBox input:focus,
.inputBox select:valid,
.inputBox select:focus {
    border: 2px solid #000;
    border-radius: 8px;
}



.enter {
    height: 45px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #000;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    margin-bottom: 3em;
}

.enter:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}



@media screen and (min-width:700px) {

    .inputBox,
    .inputBox1 {
        margin-top: 1em;
        min-width: 90%;
    }
}

@media screen and (max-width:700px) {
    .inputBox select {
        width: 100%;
        min-width: 200px;
    }

    .inputBox select:valid~span,
    .inputBox select:focus~span {
        transform: translateX(113px) translateY(-20px);
    }
}

/* custom card css  */