@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');


* {
    box-sizing: border-box;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}


/* Scrollbar */


/* Style for the scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

/* Style for the scrollbar track */
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 4px;
}

/* Style for the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

/* Style for the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Style for the scrollbar corner */
::-webkit-scrollbar-corner {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: inherit;
}

/* body */


#root {
    margin: 0;
    /* background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(180, 228, 249) 90%); */
}

/* Layout CSS */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}