/* Medecin table  */
.medecin-table {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.tab-name {
    font-weight: 700;
    display: flex;
    gap: 1em;
}

.is-table tr td,
.is-table tr th {
    padding: .2em 3em;
    border: 2px solid #000;
}

.is-table {
    width: 100%;
    display: block;
    overflow: scroll;
}


.inputFilter {
    outline: none;
    margin: 1em 0;
    text-align: center;
    border: none;
    color: #000;
    font-size: 1em;
    background: transparent;
    border: 1px dashed #000;
    transition: 0.1s;
    border-radius: 8px;
}




table {
    border-collapse: collapse;
    font-size: 14px;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #444;
}

tbody {
    /* background-color: #fff; */
}

tr:hover {
    background-color: #f5f5f5;
}





.custom-btn {
    --color: #5d7693;
    font-family: inherit;
    display: inline-block;
    width: max-content;
    height: max-content;
    overflow: hidden;
    margin: 0 auto;
    padding: .5em;
    font-size: 16px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
}

.btn-info {
    --color: #7bb3f3;

}

.btn-dark {
    --color: #000
}

.custom-btn::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
}

.custom-btn:hover {
    color: white;
}

.custom-btn:before {
    top: 100%;
    left: 100%;
    transition: .3s all;
}

.custom-btn:hover::before {
    top: -30px;
    left: -30px;
}